<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Areas/Customer/Views/Shared/Components/_MetaHeader.cshtml");
    @RenderSection("MyStyles", false)

</head>

<body>
    <!-- Header -->
    @Html.Partial("~/Areas/Customer/Views/Shared/Components/_Header.cshtml");
    <!-- End Header -->
    <!-- Body -->
    @RenderBody();
    <!-- End Body -->
    <!-- Footer -->
    @Html.Partial("~/Areas/Customer/Views/Shared/Components/_Footer.cshtml");
    <!-- End Footer -->
    <!-- JS LIBRARIES-->
    @Html.Partial("~/Areas/Customer/Views/Shared/Components/_JsLibraries.cshtml");
</body>
</html>