@model IEnumerable<Entities.Game>


@{
    ViewBag.Title = "CustomerIndex";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}
<h2>Index</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoUrl)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @item.ReleaseDate.ToString("dd/MM/yy")
                </td>
                @if (item.Company != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Company.Name)
                    </td>
                }
                else
                {
                    <td>No Company!</td>
                }
                @foreach (var genre in item.Genres)
                {
                    if (genre != null)
                    {
                        <td>@Html.DisplayFor(modelItem => genre.Kind)</td>
                    }
                    else
                    {
                        <td>No Genre!</td>
                    }
                }
                @if (item.Genres != null)
                {
                    <td>@Html.DisplayFor(modelItem => item.VideoUrl)</td>
                }
                else
                {
                    <td>No Video URL!</td>
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
